@model IList<DNA3.Models.Project>
@{
    Layout = "_Dashboard";
    string Title = "Project";
}
@section CSS {

}
@section Scripts {

    <script>

        function ProjectGridRowSelected(args) {
            window.location.href = '@Url.Action("Edit", "Project")/' + args.data.ProjectId;
        }

        function ExportToExcel() {
            var gridObj = document.getElementById("ProjectGrid").ej2_instances[0];
            gridObj.excelExport();
        }

        function ExportToPDF() {
            var gridObj = document.getElementById("ProjectGrid").ej2_instances[0];
            gridObj.pdfExport();
        }


    </script>

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Title Manager</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@Title Manager</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <partial name="_Messages" />
        <div class="card card-primary">
            <div class="card-header border-0">
                <h3 class="card-title">Menus</h3>
                @await Html.PartialAsync("_Tools", new { Report = "Projects.rdl" })
            </div>
            <div class="card-body">
                @if (Model.Count() == 0) {
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none; text-align: center;"><i class="fa-solid fa-puzzle-piece fa-10x"></i></td>
                                <td style="border: none;"></td>
                            </tr>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none;" class="text-center font-size-18">No entries found. Click the button above to get started.</td>
                                <td style="border: none;"></td>
                            </tr>
                        </tbody>
                    </table>
                } else {
                    <ejs-grid id="MenuGrid" dataSource="@Model" allowExcelExport="true" allowPdfExport="true" allowPaging="true" allowSorting="true" rowSelected="ProjectGridRowSelected">
                        <e-grid-selectionsettings mode="Row"></e-grid-selectionsettings>
                        <e-grid-columns>
                            <e-grid-column field="ProjectId" headerText="Project" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Date" headerText="Date" textAlign="Left" width="160" format="MM/dd/yy hh:mm"></e-grid-column>
                            <e-grid-column field="Subject" headerText="Subject"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                }
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
<!-- Report Options Dialog -->
<partial name="_Options" />