@model IList<DNA3.Models.Project>
@{
    Layout = "_Dashboard";
    string Title = "Project";
    string Plural = "Projects";
}
@section CSS {

}
@section Scripts {

    <script>

        function actionComplete() {

        }

        function SaveRecord() {
            var grid = document.getElementById("ProjectGrid").ej2_instances[0];
            grid.endEdit();
        }

        function AddRecord() {
            var grid = document.getElementById("ProjectGrid").ej2_instances[0];
            grid.addRecord();
        }

        function EditRecord() {
            var grid = document.getElementById("ProjectGrid").ej2_instances[0];
            grid.startEdit();
        }

        function DeleteRecord() {
            var grid = document.getElementById("ProjectGrid").ej2_instances[0];
            grid.deleteRecord();
        }

        function ExportToExcel() {
            var grid = document.getElementById("ProjectGrid").ej2_instances[0];
            grid.excelExport();
        }

        function ExportToPDF() {
            var grid = document.getElementById("ProjectGrid").ej2_instances[0];
            grid.pdfExport();
        }

    </script>

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Title Manager</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@Title Manager</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <partial name="_Messages" />
        <div class="card card-primary">
            <div class="card-header border-0">
                <h3 class="card-title">@Plural</h3>
                <div class="card-tools">
                    <a class="btn btn-tool btn-sm" onclick="SaveRecord()">
                        <i class="fa-regular fa-floppy-disk" title="Save Record"></i>
                    </a>
                    <a class="btn btn-tool btn-sm" onclick="AddRecord()">
                        <i class="fa-regular fa-file" title="New Record"></i>
                    </a>
                    <a class="btn btn-tool btn-sm" onclick="EditRecord()">
                        <i class="fa-solid fa-pencil" title="Edit Selected"></i>
                    </a>
                    <a class="btn btn-tool btn-sm" onclick="DeleteRecord()">
                        <i class="fa-solid fa-trash" title="Delete Selected"></i>
                    </a>
                    <a href="#" class="btn btn-tool btn-sm" onclick="ExportToExcel()">
                        <i class="fas fa-file-excel" title="Export to Excel"></i>
                    </a>
                    <a href="#" class="btn btn-tool btn-sm" onclick="ExportToPDF()">
                        <i class="fas fa-file-pdf" title="Export to PDF"></i>
                    </a>
                    <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-envelope" title="E-Mail Report"></i>
                    </a>
                    <a href="/report/viewer.html?ReportPath=/report/Projects.rdl" class="btn btn-tool btn-sm" target="_blank">
                        <i class="fas fa-print" title="Preview Report"></i>
                    </a>
                    <a asp-action="Close" class="btn btn-tool btn-sm">
                        <i class="fas fa-xmark" title="Close"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                @if (Model.Count() == 0) {
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none; text-align: center;"><i class="fa-solid fa-puzzle-piece fa-10x"></i></td>
                                <td style="border: none;"></td>
                            </tr>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none;" class="text-center font-size-18">No entries found. Click the button above to get started.</td>
                                <td style="border: none;"></td>
                            </tr>
                        </tbody>
                    </table>
                } else {
                    <ejs-grid id="ProjectGrid" allowExcelExport="true" allowPdfExport="true" allowPaging="true" allowSorting="true">
                        <e-grid-selectionsettings mode="Row"></e-grid-selectionsettings>
                        <e-data-manager insertUrl="/Project/Create" url="/Project/Read" updateUrl="/Project/Update" removeUrl="/Project/Remove" adaptor="UrlAdaptor"></e-data-manager>
                        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal"></e-grid-editSettings>
                        <e-grid-columns>
                            <e-grid-column field="ProjectId" headerText="Project" isPrimaryKey="true" textAlign="Left" width="90"></e-grid-column>
                            <e-grid-column field="Date" headerText="Date" textAlign="Left" width="160" format="MM/dd/yy hh:mm"></e-grid-column>
                            <e-grid-column field="StatusId" type="number" headerText="Status" textAlign="Left" width="200" foreignKeyValue="Name" dataSource="ViewBag.StatusList"></e-grid-column>
                            <e-grid-column field="Subject" headerText="Subject" textAlign="Left" width="300"></e-grid-column>
                            <e-grid-column field="Content" headerText="Content"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                }
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
<!-- Project Detail Dialog -->
<div id="detailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Project Detail</h5>
                <div class="ml-auto">
                    <button form="Master" class="btn btn-tool btn-sm" onclick="GridRowSave()">
                        <i class="far fa-floppy-disk"></i>
                    </button>
                    <button asp-action="ModalDelete" form="Master" class="btn btn-tool btn-sm">
                        <i class="far fa-trash-can"></i>
                    </button>
                    <a href="/report/viewer.html?Report=Project.rdl" formaction="Master" class="btn btn-tool btn-sm" target="_blank">
                        <i class="fas fa-print"></i>
                    </a>
                    <a class="btn btn-tool btn-sm" data-dismiss="modal" aria-label="Close Dialog">
                        <i class="fas fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <form id="Master" asp-action="#" autocomplete="off">
                    <div class="row mb-0">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Date">Date</label>
                                <input type="datetime-local" id="Date" name="Date" class="form-control" placeholder="Date" autofocus />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="StatusId">Status</label>
                                <select id="StatusId" name="StatusId" class="form-control" asp-items="@(new SelectList(ViewBag.StatusList, "StatusId", "Name"))" placeholder="Select Status" data-lpignore="true" autocomplete="off" spellcheck="false">
                                    <option value="">Select Status</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Subject">Subject</label>
                                <input type="text" id="Subject" name="Subject" class="form-control" placeholder="Subject" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Content">Content</label>
                                <textarea type="text" id="Content" name="Content" class="form-control" rows="6" placeholder="Content"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="ProjectId" name="ProjectId" /> <!-- Both element name and id must be specified here -->
                </form>
            </div>
        </div>
    </div>
</div>
