@model IList<DNA3.Models.Project>
@{
    Layout = "_Dashboard";
    string Title = "Project";
}
@section CSS {

}
@section Scripts {

    <script>

        function GridRowSelected(args) {
            $.ajax({
                url: "/Project/ModalEdit/" + args.data.ProjectId,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    // alert(JSON.stringify(response)); // (Useful to determine the object property names and values returned from the controller)
                    $("#ProjectId").val(response.projectId);
                    $("#Date").val(response.date);
                    $("#Subject").val(response.subject);
                    $("#Content").val(response.content);
                    $("#StatusId").val(response.statusId);
                    $("#detailModal").modal("show");
                },
                error: function (response) {
                    alert(JSON.stringify(response)); // (Useful to determine the object property names and values returned from the controller)
                },
            });
            return false;
        }
            
        function ExportToExcel() {
            var gridObj = document.getElementById("ProjectGrid").ej2_instances[0];
            gridObj.excelExport();
        }

        function ExportToPDF() {
            var gridObj = document.getElementById("ProjectGrid").ej2_instances[0];
            gridObj.pdfExport();
        }

        function New() {
            var res = validate();
            if (res == false) {
                return false;
            }
            var empObj = {
                EmployeeID: $("#EmployeeID").val(),
                Name: $("#Name").val(),
                Age: $("#Age").val(),
                State: $("#State").val(),
                Country: $("#Country").val()
            };
            $.ajax({
                url: "/Home/Add",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    $("#myModal").modal("hide");
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function Save() {
            var res = validate();
            if (res == false) {
                return false;
            }
            var empObj = {
                EmployeeID: $("#EmployeeID").val(),
                Name: $("#Name").val(),
                Age: $("#Age").val(),
                State: $("#State").val(),
                Country: $("#Country").val(),
            };
            $.ajax({
                url: "/Home/Update",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    $("#myModal").modal("hide");
                    $("#EmployeeID").val("");
                    $("#Name").val("");
                    $("#Age").val("");
                    $("#State").val("");
                    $("#Country").val("");
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function Delele(ID) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    url: "/Home/Delete/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        loadData();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        function Reset() {
            $("#EmployeeID").val("");
            $("#Name").val("");
            $("#Age").val("");
            $("#State").val("");
            $("#Country").val("");
            $("#btnUpdate").hide();
            $("#btnAdd").show();
            $("#Name").css("border-color", "lightgrey");
            $("#Age").css("border-color", "lightgrey");
            $("#State").css("border-color", "lightgrey");
            $("#Country").css("border-color", "lightgrey");
        }

    </script>

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Title Manager</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@Title Manager</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <partial name="_Messages" />
        <div class="card card-primary">
            <div class="card-header border-0">
                <h3 class="card-title">Menus</h3>
                @await Html.PartialAsync("_Tools", new { Report = "Projects.rdl" })
            </div>
            <div class="card-body">
                @if (Model.Count() == 0) {
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none; text-align: center;"><i class="fa-solid fa-puzzle-piece fa-10x"></i></td>
                                <td style="border: none;"></td>
                            </tr>
                            <tr>
                                <td style="border: none;"></td>
                                <td style="border: none;" class="text-center font-size-18">No entries found. Click the button above to get started.</td>
                                <td style="border: none;"></td>
                            </tr>
                        </tbody>
                    </table>
                } else {
                    <ejs-grid id="ProjectGrid" dataSource="@Model" allowExcelExport="true" allowPdfExport="true" allowPaging="true" allowSorting="true" rowSelected="GridRowSelected">
                        <e-grid-selectionsettings mode="Row"></e-grid-selectionsettings>
                        <e-grid-columns>
                            <e-grid-column field="ProjectId" headerText="Project" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Date" headerText="Date" textAlign="Left" width="160" format="MM/dd/yy hh:mm"></e-grid-column>
                            <e-grid-column field="Subject" headerText="Subject"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                }
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
<!-- Project Detail Dialog -->
<div id="detailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Project Detail</h5>
                <div class="ml-auto">
                    <button asp-action="Save" form="Master" class="btn btn-tool btn-sm">
                        <i class="far fa-floppy-disk"></i>
                    </button>
                    <button asp-action="Delete" form="Master" class="btn btn-tool btn-sm">
                        <i class="far fa-trash-can"></i>
                    </button>
                    <a href="/report/viewer.html?Report=Project.rdl" formaction="Master" class="btn btn-tool btn-sm" target="_blank">
                        <i class="fas fa-print"></i>
                    </a>
                    <a asp-action="Index" class="btn btn-tool btn-sm">
                        <i class="fas fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <form id="Master" asp-action="#" autocomplete="off">
                    <div class="row mb-0">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Date">Date</label>
                                <input type="text" id="Date" name="Date" class="form-control" placeholder="Date" autofocus />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="StatusId">Status</label>
                                <input type="text" id="StatusId" name="StatusId" class="form-control" placeholder="Status" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Subject">Subject</label>
                                <input type="text" id="Subject" name="Subject" class="form-control" placeholder="Subject" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Content">Content</label>
                                <textarea type="text" id="Content" name="Content" class="form-control" rows="6" placeholder="Content"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="ProjectId" />
                </form>
            </div>
        </div>
    </div>
</div>
