@{
	string Title = "Refund Policy";
}

@section CSS {

}

@section Scripts {

}

<!-- ====== Banner Start ====== -->
<section class="ud-page-banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="ud-banner-content">
					<h1>@Title</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ====== Banner End ====== -->

<partial name="_Refund" />

<partial name="_FAQ" />