@model DNA3.Models.Page
<div class="col-xl-3 col-lg-4 col-md-6">
	<div class="ud-widget">
		<a href="/" class="ud-footer-logo">
			<img src="/assets/images/logo/logo.svg" alt="logo" />
		</a>
		<p class="ud-widget-desc">
			@Model.Content
		</p>
		<ul class="ud-widget-socials">
			<li>
				<a href="https://twitter.com/MusharofChy">
					<i class="lni lni-facebook-filled"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/MusharofChy">
					<i class="lni lni-twitter-filled"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/MusharofChy">
					<i class="lni lni-instagram-filled"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/MusharofChy">
					<i class="lni lni-linkedin-original"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
