@{
    Layout = "_Layout";
}
<section id="content">
    <!-- Content Row -->
    <section class="content-row content-row-color content-row-clouds">
        <div class="container">
            <header class="content-header content-header-small content-header-uppercase">
                <h1>
                    SQL Server Management Objects (SMO)
                </h1>
                <p>
                    Backup your remote database to a local or remote storage location. Retrieve Table Definitions, Stored Procedures, User Defined Functions, Triggers, and more.
                </p>
            </header>
        </div>
    </section>
    <!-- Content Row -->
    <section class="content-row">
        <div class="container">
            <header class="content-header">
                <h2>
                    Remote Access
                </h2>
                <p>
                    Backup a production database and restore it to your development environment. Script a database to provide compatibility with an older version of SQL Server.
                </p>
            </header>
            <div class="column-row align-center-bottom text-align-center">
                <div class="column-33">
                    <i class="fas fa-wrench icon-feature"></i>
                    <h3>
                        <span class="text-color-primary">50+</span> Engineers
                    </h3>
                    <p>
                        We are a team of highly motivated developers and engineers with a strong background in the cloud hosting and network infrastructure market.
                    </p>
                </div>
                <div class="column-33">
                    <i class="fas fa-users icon-feature"></i>
                    <h3>
                        <span class="text-color-primary">100K+</span> Customers
                    </h3>
                    <p>
                        Customers around the world rely on our products and infrastructure every day, making us one of the fastest growing companies in the industry.
                    </p>
                </div>
                <div class="column-33">
                    <i class="fas fa-server icon-feature"></i>
                    <h3>
                        <span class="text-color-primary">3M+</span> Servers
                    </h3>
                    <p>
                        We have deployed over three million servers to our infrastructure over the past 5 years. Including storage, cloud and dedicated services.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Row -->
    <section class="content-row content-row-gray">
        <div class="container">
            <header class="content-header">
                <h2>
                    What Our Customers Say
                </h2>
                <p>
                    We've helped hundreds of clients with custom server solutions, enabling them to operate much more efficient and secure than they ever did before.
                </p>
            </header>
            <div class="column-row align-center-bottom">
                <div class="column-33">
                    <div class="testimonial">
                        <p class="testimonial-content">
                            My customers didn't experience a single minute of downtime since I moved my services over to Cloudhub.
                        </p>
                        <p class="testimonial-author">
                            <a href="#twitter"><i class="fab fa-twitter icon-left"></i>Peter Miller</a><br>
                            <small>Chemical Industries</small>
                        </p>
                    </div>
                </div>
                <div class="column-33">
                    <div class="testimonial">
                        <p class="testimonial-content">
                            Cloudhub helped me with a professional custom server solution when my business was so rapidly growing my old system couldn't handle the load anymore.
                        </p>
                        <p class="testimonial-author">
                            <a href="#twitter"><i class="fab fa-twitter icon-left"></i>John Smith</a><br>
                            <small>HQ Streaming Company</small>
                        </p>
                    </div>
                </div>
                <div class="column-33">
                    <div class="testimonial">
                        <p class="testimonial-content">
                            By switching to Cloudhub's Anycast DNS system we were able to decrease the worldwide app latency immensely.
                        </p>
                        <p class="testimonial-author">
                            <a href="#twitter"><i class="fab fa-twitter icon-left"></i>Mary Fonda</a><br>
                            <small>SAAS Billing Solutions</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Row -->
    <section class="content-row content-row-color">
        <div class="container">
            <header class="content-header">
                <h2>
                    Want to join Cloudhub?
                </h2>
                <p>
                    We're always looking to hire new talent to support our team with the engineering and development of our advanced cloud platform and its features.<br><br>
                    <a class="button button-secondary" href="/home/contact">
                        <i class="fas fa-briefcase icon-left"></i>Open Positions
                    </a>
                </p>
            </header>
        </div>
    </section>
</section>