@using DNA3.Classes

@if (Site.Messages.Count() > 0) {
	@foreach (String message in Site.Messages) {
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			@Html.Render(message)
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	}
	Site.Messages.Clear();
}
