<div id="oauthModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">External Authentication</h5>
				<div class="ml-auto">
					<a asp-action="Close" class="btn btn-tool btn-sm" data-dismiss="modal" aria-label="Close">
						<i class="fas fa-xmark" title="Close Dialog"></i>
					</a>
				</div>
			</div>
			<div class="modal-body">
				<div class="row mb-0">
					<div class="col-12">
						<p>
							Authentication via Microsoft, Google, and the various social media platforms
							will be implemented in the near future. Until then, you can utilize credentials
							or implement user-mapped client certificates.
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close Dialog</button>
			</div>
		</div>
	</div>
</div>
