<section>
	<div class="container">
		<div class="row my-5">
			<div class="col-12">

				<h3 class="mb-2">Interpretation</h3>
				<p class="mb-3">The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>

				<h3 class="mb-2">Definitions</h3>
				<p class="mb-2">For the purposes of this Return and Refund Policy:</p>
				<ul class="mb-3">
					<li>
						<p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to Click Tick Done, Inc, Franklin, Indiana 46131.</p>
					</li>
					<li>
						<p><strong>Goods</strong> refer to the items offered for sale on the Service.</p>
					</li>
					<li>
						<p><strong>Orders</strong> mean a request by You to purchase Goods from Us.</p>
					</li>
					<li>
						<p><strong>Service</strong> refers to the Website.</p>
					</li>
					<li>
						<p><strong>Website</strong> refers to PCDMZ, accessible from <a href="https://pcdmz.com" rel="external nofollow noopener" target="_blank">https://pcdmz.com</a></p>
					</li>
					<li>
						<p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
					</li>
				</ul>

				<h3 class="mb-2">Your Order Cancellation Rights</h3>
				<p class="mb-3">You are entitled to cancel Your Order within 7 days without giving any reason for doing so.</p>
				<p class="mb-3">The deadline for cancelling an Order is 7 days from the date on which You received the Goods or on which a third party you have appointed, who is not the carrier, takes possession of the product delivered.</p>
				<p class="mb-3">In order to exercise Your right of cancellation, You must inform Us of your decision by means of a clear statement. You can inform us of your decision by:</p>
				<ul class="mb-3">
					<li>By email: sales@pcdmz.com</li>
				</ul>
				<p class="mb-3">We will reimburse You no later than 14 days from the day on which We receive the returned Goods. We will use the same means of payment as You used for the Order, and You will not incur any fees for such reimbursement.</p>

				<h3 class="mb-2">Conditions for Returns</h3>
				<p class="mb-3">In order for the Goods to be eligible for a return, please make sure that:</p>
				<ul>
					<li>The Goods were purchased in the last 7 days</li>
				</ul>
				<p class="mb-3">The following Goods cannot be returned:</p>
				<ul class="mb-3">
					<li>The supply of Goods made to Your specifications or clearly personalized.</li>
					<li>The supply of Goods which according to their nature are not suitable to be returned, deteriorate rapidly or where the date of expiry is over.</li>
					<li>The supply of Goods which are not suitable for return due to health protection or hygiene reasons and were unsealed after delivery.</li>
					<li>The supply of Goods which are, after delivery, according to their nature, inseparably mixed with other items.</li>
				</ul>
				<p class="mb-3">We reserve the right to refuse returns of any merchandise that does not meet the above return conditions in our sole discretion.</p>
				<p class="mb-3">Only regular priced Goods may be refunded. Unfortunately, Goods on sale cannot be refunded. This exclusion may not apply to You if it is not permitted by applicable law.</p>

				<h3 class="mb-2">Contact Us</h3>
				<p class="mb-3">If you have any questions about our Returns and Refunds Policy, please contact us:</p>
				<ul class="mb-3">
					<li>By email: sales@pcdmz.com</li>
				</ul>

			</div>
		</div>
	</div>
</section>
