@model DNA3.Models.Gemini
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2
@using System.Text.Json;

@{
    Layout = "_Dashboard";
    string Title = "Assistant";
    string Plural = "Assistant";
}
@section CSS {

}
@section Scripts {

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Title Manager</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@Title Manager</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <partial name="_Messages" />
        <div class="card card-primary">
            <div class="card-header border-0">
                <h3 class="card-title">@Plural</h3>
                @await Html.PartialAsync("_Tools", new { Report = "Support Assistant.rdl" })
            </div>
            <form asp-action="#" id="Query">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col">
                            <h3>Overview</h3>
                            <p>Gemini content will appear in this area, styled using the current theme.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input asp-for="prompt" class="form-control" placeholder="How can I help you today?" autofocus></input>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col">
                            <button asp-action="Index" class="btn btn-lg btn-primary">Send Request</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
<!-- Report Options Dialog -->
<partial name="_Options" />